$color-primary: #0d1a3a;
$color-secondary: #185adb;
$color-bg: #fff;
$color-footer: #0d1a3a;
$color-navbar: #0d1a3a;
$color-text: #fff;
$color-input-bg: #0d1a3a;
$color-input-border: #185adb;
$color-input-hover: #1976d2;
